@{
    ViewBag.Title = "C++ Compile test page";
}

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            //Dabs sagði að herna gæti verið textarea þar sem notandinn gæti 
            //sent inn kóðan sem hann ætlar að senda inn
            <input type="Submit" class="btn btn-primary" value="Compile Test Code" />
        }

        @if (ViewBag.Output != null)
        {
            <ul>
                @foreach (var line in ViewBag.Output)
                {
                    <li>@line</li>
                }
            </ul>
        }
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>



